@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  color: var(--dark);
  background-color: var(--general-background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

a,
a:visited {
  color: var(--dark);
  text-underline-offset: 2px;
}

a:hover {
  color: var(--brand-logo);
}

body *:focus-visible {
  outline: 1px solid var(--dark);
}

body.dark *:focus-visible {
  outline: 1px solid var(--brand-logo);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
