body {
  --font-family: "Open Sans", sans-serif;
  --padding-gap: 5px;
  --gap-num: 5;
  --letter-positioned: #05a864; //05a864
  --letter-valid: #f06000; // #f06000 #ff4da6
  --brand-logo: #63bcca;
  --soft-grey: #e7e7e7;
}

body:not(.dark) {
  --letter-invalid: #595c63; // #595c63;
  --letter-key-focus: #c7c7c7;
  --light-color: #fff;
  --dark: #000;
  --hover-links: #c75000;
}

body.dark {
  --letter-invalid: #595c63; // #3e4045; b40e29
  --letter-key-focus: #c7c7c7; //#c7c7c7
  --light-color: #000;
  --dark: #fff;
  --hover-links: #7be4f4;
}
