:root {
  --letter-positioned: #59c99a; /*63bcca  63a142*/
  --letter-valid: #c9a34f;
  --letter-invalid: #595c63; /* 552222 */
  --letter-key-focus: #e7e7e7; /*  #e8d9d9; */
  --general-background: #fff;
  --brand-logo: #63bcca;
  --dark: #000;
  --button-border: #e7e7e7;
}
