@use "../base/variables";
@use "../base/base";

.button {
  background-color: var(--light-color);
  color: var(--dark);
  text-align: center;
  border: 2px solid var(--soft-grey);
  border-radius: 30px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    background-color: var(--brand-logo);
    color: var(--dark);
    text-decoration: none;
  }
}

.dark .button {
  border: none;
  &:hover,
  &:focus {
    color: var(--light-color);
  }
}

.button--text-icon {
  font-weight: 400;
  max-width: fit-content;
  background-color: transparent;
  padding: 0 10px 0 0;
  border: 0;
  gap: 10px;
}

.button--reverse {
  background-color: var(--brand-logo);

  &:hover,
  &:focus {
    background-color: var(--light-color);
  }
}

.button--close {
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background-color: var(--soft-grey);
    color: var(--dark);
  }
}

.dark .button--close {
  &:hover,
  &:focus {
    color: var(--light-color);
  }
}

.button--icon {
  background-color: transparent;
  border: 2px solid var(--soft-grey);
  border-radius: 30px;
  width: 40px;
  height: 40px;
  svg {
    width: 30px;
    height: 30px;
  }
  padding: 0;
  &:hover,
  &:focus {
    background-color: var(--soft-grey);
    color: var(--dark);
  }
}

.dark .button--icon {
  border: 1px solid var(--soft-grey);

  &:hover,
  &:focus {
    background-color: var(--soft-grey);
  }
}

.button--new {
  width: 40px;
  height: 40px;
}

.button--logout {
  @media screen and (max-width: 850px) {
    padding: 5px;
    font-size: 0.8rem;
  }
}

.button--disabled {
  color: var(--letter-key-focus);
}
.button--close-big {
  &:hover,
  &:focus {
    background-color: var(--brand-logo);
    color: var(--dark);
  }
}
