@use "../base/variables";
@use "../base/base";
@use "../base/mixins" as mix;

/* main */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 60px);
  touch-action: manipulation;
}

/* words pannel */

.wrap-guesses {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px var(--padding-gap);
  @media screen and (max-width: 350px) {
    padding: 10px var(--padding-gap);
  }
}

.guesses {
  --max-width: calc(
    (60 * var(--guess-letters)) +
      (var(--gap-num) * (var(--guess-letters) - 1 + 2))
  );
  display: grid;
  flex-wrap: wrap;
  width: 100%;
  max-width: calc(var(--max-width) * 1px);
  gap: var(--padding-gap);
}

.guess {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(
    var(--guess-letters),
    minmax(
      calc(
        (
            (
              (
                  100 -
                    (
                      calc(
                        (var(--max-width) / var(--guess-letters)) -
                          (var(--gap-num) * ((var(--guess-letters) - 1) + 2))
                      )
                    )
                ) / var(--guess-letters)
            )
          ) * 1vw
      ),
      60px
    )
  ); /* (100 - (max-width / row-letters) - ( gap * (10)) // 10 = row-letters - 1 (gaps inter cells) + 2 (row external paddings)  */
  gap: var(--padding-gap);
  margin: 0 auto;
}

.letter {
  aspect-ratio: 1/1;
  line-height: 1rem;
  border: 1px solid var(--letter-key-focus);
  background-color: var(--general-background);
  font-size: clamp(1.2rem, 1rem + 3vw, 2.5rem);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3vw;
}
.dark .letter:not(.letter--unchecked) {
  border: var(--general-background);
}

.guesses[data-letters="4"] {
  .letter {
    border-radius: 6vw;
  }
  @media screen and (min-width: 265px) {
    .guess {
      grid-template-columns: repeat(var(--guess-letters), 60px);
    }
    .letter {
      border-radius: 18px;
      font-size: 2.5rem;
    }
  }
}
.guesses[data-letters="5"] {
  .letter {
    border-radius: 5vw;
  }
  @media screen and (min-width: 330px) {
    .guess {
      grid-template-columns: repeat(var(--guess-letters), 60px);
    }
    .letter {
      border-radius: 18px;
      font-size: 2.5rem;
    }
  }
}

.guesses[data-letters="6"] {
  .letter {
    border-radius: 4vw;
  }
  @media screen and (min-width: 395px) {
    .guess {
      grid-template-columns: repeat(var(--guess-letters), 60px);
    }
    .letter {
      border-radius: 18px;
      font-size: 2.5rem;
    }
  }
}
.guesses[data-letters="7"] {
  .letter {
    border-radius: 4vw;
  }
  @media screen and (min-width: 470px) {
    .guess {
      grid-template-columns: repeat(var(--guess-letters), 60px);
    }
    .letter {
      border-radius: 18px;
      font-size: 2.5rem;
    }
  }
}
.guesses[data-letters="8"] {
  .letter {
    border-radius: 3.5vw;
  }
  @media screen and (min-width: 530px) {
    .guess {
      grid-template-columns: repeat(var(--guess-letters), 60px);
    }
    .letter {
      border-radius: 18px;
      font-size: 2.5rem;
    }
  }
}

.guesses[data-letters="9"] {
  .letter {
    border-radius: 3vw;
  }
  @media screen and (min-width: 595px) {
    .guess {
      grid-template-columns: repeat(var(--guess-letters), 60px);
    }
    .letter {
      border-radius: 18px;
      font-size: 2.5rem;
    }
  }
}

.letter:not(.letter--unchecked) {
  color: var(--general-background);
}

.dark .letter:not(.letter--unchecked) {
  color: var(--dark);
}
