/* main */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
}

/* words pannel */

.wrap-guesses {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.guesses {
  display: grid;
  flex-wrap: wrap;
  width: 100%;
  max-width: 330px;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.guess {
  display: grid;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
}

.guesses[data-letters="5"] .guess {
  grid-template-columns: repeat(5, 1fr);
}

.guesses[data-letters="6"] {
  max-width: 385px;
}

.guesses[data-letters="6"] .guess {
  grid-template-columns: repeat(6, 1fr);
}
.guesses[data-letters="7"] {
  max-width: 450px;
}
.guesses[data-letters="7"] .guess {
  max-width: 450px;
  grid-template-columns: repeat(7, 1fr);
}

.guesses[data-letters="8"] {
  max-width: 515px;
}

.guesses[data-letters="8"] .guess {
  max-width: 515px;
  grid-template-columns: repeat(8, 1fr);
}

.guesses[data-letters="9"] {
  max-width: 580px;
}

.guesses[data-letters="9"] .guess {
  max-width: 580px;
  grid-template-columns: repeat(9, 1fr);
}

.letter {
  border: 1px solid var(--letter-key-focus);
  border-radius: 18px;
  background-color: var(--general-background);
  font-size: 2.5rem;
  text-transform: uppercase;
  width: 100%;
  line-height: 3.75rem;
  max-width: 3.75rem;
  height: 3.75rem;
  /*   height: 3.75rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter:not(.letter--unchecked) {
  color: var(--general-background);
}

@media screen and (max-width: 320px) {
  .letter {
    font-size: 2.2rem;
    line-height: 3.1rem;
    height: 3.1rem;
    border-radius: 16px;
  }
}
