@keyframes load {
  from {
    width: 9%;
  }
}
@-webkit-keyframes load {
  from {
    width: 9%;
  }
}
@-moz-keyframes load {
  from {
    width: 9%;
  }
}
@-o-keyframes load {
  from {
    width: 9%;
  }
}

.bar {
  list-style-type: decimal;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--dark);
  font-weight: bold;
  width: 9%;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}
.bar::before {
  content: attr(data-guess);
  background-color: var(--letter-invalid);
  color: var(--light-color);
  display: inline-block;
  text-align: right;
  padding: 5px 10px 5px 10px;
  border-radius: inherit;
  width: 100%;
}

.dark .bar {
  &::before {
    background-color: var(--soft-grey);
  }
}

.bar.bar--first {
  width: 40%;
}

.bar.bar--current::before {
  background-color: var(--brand-logo);
  color: var(--dark);
}

.dark .bar.bar--current::before {
  color: var(--light-color);
}
