/* animations */

.letter--flipLeft {
  animation: flipLeft 250ms ease-in;
  -webkit-animation: flipLeft 250ms ease-in;
  -moz-animation: flipLeft 250ms ease-in;
  -o-animation: flipLeft 250ms ease-in;
  --duration: 250ms;
  &:nth-of-type(1) {
    animation-delay: 0;
  }
  &:nth-of-type(2) {
    animation-delay: calc(var(--duration) * 2);
  }
  &:nth-of-type(3) {
    animation-delay: calc(var(--duration) * 3);
  }
  &:nth-of-type(4) {
    animation-delay: calc(var(--duration) * 4);
  }
  &:nth-of-type(5) {
    animation-delay: calc(var(--duration) * 5);
  }
  &:nth-of-type(6) {
    animation-delay: calc(var(--duration) * 6);
  }
  &:nth-of-type(7) {
    animation-delay: calc(var(--duration) * 7);
  }
}

@keyframes flipLeft {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.letter--guessShake {
  animation: guessShake 1s ease 0s;
}

@keyframes guessShake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.letter--bounceIn {
  animation: bounceIn 4s ease 0.2s;
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
