@use "../base/variables";
@use "../base/base";

.header {
  .container {
    height: 60px;
    margin-bottom: 30px;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
  }
}

.title--colored {
  color: var(--brand-logo);
}

.date-current {
  margin-right: 20px;
}

/* navigation */

.menu__navigation {
  color: var(--letter-positioned);
  width: 150px;
  padding: 0;
  top: 75px;
}

.menu__navigation .button--icon {
  width: 40px;
  height: 40px;
  background-color: var(--light-color);
}

.menu__navigation .button--stats svg {
  width: 20px;
  height: 20px;
}

.menu__navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
