@use "../base/variables";
@use "../base/base";

/* keyboard */
.keyboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 5px 15px 5px;
  gap: 5px;
}

.keyboard__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2px;

  @media screen and (min-width: 329px) {
    gap: 5px;
  }
}

.keyboard__key {
  font-size: 1.2rem;
  text-transform: uppercase;
  flex: 1;
  height: 50px;
  padding: 0 2px;
  border: none;
  border-radius: 2px;
  background-color: var(--letter-key-focus);
  color: var(--light-color);
}

.dark .keyboard__key {
  color: var(--dark);
}

.keyboard__key--double {
  flex: 2;
}

.keyboard__key.keyboard__key--double {
  font-size: 1rem;
  @media screen and (min-width: 329px) {
    font-size: 1.2rem;
  }
}
.letter--absent,
.keyboard__key--absent {
  background-color: var(--letter-invalid);
  color: var(--light-color);
}

.letter--present,
.keyboard__key--present {
  background-color: var(--letter-valid);
  color: var(--light-color);
}

.letter--correct,
.keyboard__key--correct {
  background-color: var(--letter-positioned);
  color: var(--light-color);
}

.letter--current,
.keyboard__key--key-focus {
  background-color: var(--letter-key-focus);
}

.keyboard__row {
  /*  .keyboard__key--double:first-child {
    background: var(--letter-key-focus) url("/src/assets/images/enter-key.svg")
      no-repeat center center;
  } */
  .keyboard__key--double:last-child {
    background: var(--letter-key-focus) url("/src/assets/images/delete-key.svg")
      no-repeat center center;
  }
}
