@use "../base/variables";
@use "../base/base";

body.modal--open:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal,
.supermodal,
.bigmodal {
  display: none;
  z-index: 2;
}

.modal--open,
.supermodal--open {
  display: block;
}
.bigmodal--open {
  display: flex;
}

.modal {
  padding: 8px;
}

.modal,
.supermodal {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dark);
  color: var(--general-background);
  font-size: 1.2rem;
  border-radius: 18px;
  width: 90%;
  text-align: center;

  @media screen and (min-width: 340px) {
    width: 60%;
  }
}

.bigmodal {
  position: absolute;
  width: 95%;
  max-width: 450px;
  min-height: 50%;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--general-background);
  color: var(--dark);
  padding: 10px;
  border-radius: 18px;
  border: 1px solid #ddd;
  z-index: 2;
  @media screen and (min-width: 340px) {
    padding: 15px;
  }
  @media screen and (min-width: 390px) {
    padding: 20px;
  }
}

.bigmodal__header {
  display: flex;
  justify-content: space-between;
}

.bigmodal__title {
  font-size: 1.2rem;
}
.bigmodal__solution {
  text-align: center;
  font-size: 1.3rem;
  color: var(--brand-logo);
}
.bigmodal__definition {
  margin: 20px 0;
  font-weight: 400;
  text-align: left;
  > p {
    padding-left: 10px;
  }
}
.bigmodal__examples {
  background: #fbf3f3;
  border-radius: 0.25em;
  padding: 10px;
  margin: 10px 0;
  font-style: italic;
  p {
    margin-bottom: 10px;
  }
}
.bigmodal__footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media screen and (min-width: 340px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.row {
  display: flex;
  gap: 5px;
  td {
    background-color: var(--brand-logo);
    color: var(--general-background);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    span {
      font-size: 1.8rem;
    }
  }
}
