@use "../base/variables";
@use "../base/base";

body.modal--open:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

body.dark.modal--open:after {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal,
.supermodal,
.bigmodal {
  display: none;
  z-index: 2;
}

.modal--open,
.supermodal--open,
.bigmodal--open {
  display: block;
}
.bigmodal--statistics.bigmodal--open {
  display: flex;
}

.modal {
  padding: 8px;
}

.modal,
.supermodal {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--dark);
  color: var(--general-background);
  font-size: 1.2rem;
  border-radius: 18px;
  width: 90%;
  text-align: center;

  @media screen and (min-width: 340px) {
    width: 60%;
  }
}

.bigmodal {
  position: absolute;
  width: 95%;
  max-width: 450px;
  min-height: 50%;
  font-weight: 400;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--general-background);
  color: var(--dark);
  padding: 10px;
  border-radius: 18px;
  border: 1px solid var(--button-border);
  z-index: 2;
  @media screen and (min-width: 340px) {
    padding: 15px;
  }
  @media screen and (min-width: 390px) {
    padding: 20px;
  }
}

.dark .bigmodal {
  background-color: var(--letter-key-focus);
}

/* bigmodal general */

.bigmodal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bigmodal__title {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.bigmodal__content {
  h3 {
    margin: 30px 0 15px;
    font-size: 1.2rem;
    text-decoration: underline dotted;
    text-underline-offset: 2px;
  }
  p {
    margin-bottom: 10px;
  }
}

/* bigmodal--solution */

.bigmodal__solution {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--brand-logo);
}
.bigmodal__definition {
  margin: 20px 0 15px 0;
  font-weight: 400;
  text-align: left;
  > p {
    padding-left: 10px;
  }
}

blockquote {
  background: #fbf3f3;
  border-radius: 0.25em;
  padding: 10px !important;
  margin: 10px 0 !important;
  font-style: italic;
  p {
    margin-bottom: 10px;
  }
}

.dark blockquote {
  color: var(--light-color);
  a,
  a:visited {
    color: var(--light-color);
  }
}

.bigmodal__external-link {
  display: block;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
}

.bigmodal__footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media screen and (min-width: 340px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* bigmodal-stats */

.table--statistics,
.guess-bars {
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 5px;
  td {
    background-color: var(--brand-logo);
    color: var(--general-background);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    span {
      font-size: 1.8rem;
    }
  }
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* bigmodal--info */

.bigmodal--info {
  height: 90%;
  overflow-y: scroll;
  top: 65px;
  transform: translate(-50%, 0);
}

.bigmodal__rules {
  margin-top: 20px;
  ul,
  li {
    list-style-type: square;
  }
  ul {
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted var(--letter-key-focus);
  }
  li {
    padding-left: 5px;
    margin-bottom: 10px;
  }
  p {
    margin: 10px 0;
  }
  .letter {
    width: 45px;
    height: 45px;
    font-size: 1.8rem;
    border-radius: 14px;
  }
  .button--close-big {
    margin: 20px auto 0;
  }
}

.examples {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dotted var(--letter-key-focus);
  .guesses {
    margin-top: 20px;
  }
}

.info__letters {
  letter-spacing: 11px;
  font-size: 2rem;
  margin-top: 15px;
  & > .letter--correct {
    padding: 2px 0 2px 9px;
    border-radius: 10px;
  }
}
