:root {
  --letter-positioned: #59c99a; /*63bcca  63a142*/
  --letter-valid: #c9a34f;
  --letter-invalid: #595c63; /* 552222 */
  --letter-key-focus: #e8d9d9;
  --general-background: #fff;
  --brand-logo: #63bcca;
  --dark: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

a,
a:visited {
  color: var(--dark);
}

a:hover {
  color: var(--brand-logo);
}

.container {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid var(--brand-logo);
}

.header {
  height: 60px;
  margin-bottom: 30px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo--vilaweb img {
  border: 2px solid var(--letter-key-focus);
  border-radius: 50%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Saira Extra Condensed", sans-serif;
}

.title--colored {
  color: var(--brand-logo);
}

/* navigation */

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 2px solid var(--letter-key-focus);
  border-radius: 50%;
}

.menu__toggle {
  width: 25px;
  height: 22px;
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1000;
  cursor: pointer;
}

.menu__toggle i {
  position: absolute;
  display: block;
  height: 3px;
  background: var(--letter-invalid);
  width: 25px;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.menu__toggle i:nth-child(1) {
  top: 1px;
}

.menu__toggle i:nth-child(2) {
  top: 9px;
}

.menu__toggle i:nth-child(3) {
  top: 17px;
}

.menu__toggle.open i:nth-child(1) {
  top: 10px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.menu__toggle.open i:nth-child(2) {
  background: transparent;
}

.menu__toggle.open i:nth-child(3) {
  top: 10px;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.menu__navigation {
  display: none;
  color: var(--letter-positioned);
  width: 150px;
  padding: 0;
  /* background-color: var(--letter-invalid); */
  /*  height: calc(100vh - (93px)); */
  position: absolute;
  right: -1850px;
  top: 54px;
  transition: right linear 0.2s;
}

.menu__navigation.opened {
  right: 8px;
  z-index: 1;
  display: block;
}

.menu__navigation.opened ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__navigation.opened ul li {
  max-width: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
}

/* words pannel */

.guesses {
  display: grid;
  flex-wrap: wrap;
  width: 100%;
  max-width: 330px;
  margin: 70px auto 0;
  gap: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.guess {
  display: grid;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
}

.guesses[data-letters="5"] .guess {
  grid-template-columns: repeat(5, 1fr);
}

.guesses[data-letters="6"] {
  max-width: 385px;
}

.guesses[data-letters="6"] .guess {
  grid-template-columns: repeat(6, 1fr);
}
.guesses[data-letters="7"] {
  max-width: 450px;
}
.guesses[data-letters="7"] .guess {
  max-width: 450px;
  grid-template-columns: repeat(7, 1fr);
}

.guesses[data-letters="8"] {
  max-width: 515px;
}

.guesses[data-letters="8"] .guess {
  max-width: 515px;
  grid-template-columns: repeat(8, 1fr);
}

.guesses[data-letters="9"] {
  max-width: 580px;
}
.guesses[data-letters="9"] .guess {
  max-width: 580px;
  grid-template-columns: repeat(9, 1fr);
}

.box {
  width: 60px;
  aspect-ratio: 1;
  clip-path: polygon(
    93.3% 75%,
    50% 100%,
    6.7% 75%,
    6.7% 25%,
    50% 0%,
    93.3% 25%
  );

  background-color: var(--letter-positioned);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.box-border {
  position: relative;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
}

.box-border::before {
  content: "";
  aspect-ratio: 1;
  background-color: var(--letter-key-focus);
  clip-path: polygon(
    93.04% 75.45%,
    49.48% 100%,
    6.44% 74.55%,
    6.96% 24.55%,
    50.52% 0%,
    93.56% 25.45%,
    93.04% 75.45%,
    calc(93.56% - 0.87px) calc(25.45% - -0.49px),
    calc(50.52% - 0.01px) calc(0% - -1px),
    calc(6.96% - -0.86px) calc(24.55% - -0.51px),
    calc(6.44% - -0.87px) calc(74.55% - 0.49px),
    calc(49.48% - -0.01px) calc(100% - 1px),
    calc(93.04% - 0.86px) calc(75.45% - 0.51px),
    calc(93.56% - 0.87px) calc(25.45% - -0.49px)
  );

  color: black;
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -1;
}

.letter {
  border: 1px solid var(--letter-key-focus);
  border-radius: 18px;
  background-color: var(--general-background);
  font-size: 2.5rem;
  text-transform: uppercase;
  width: 100%;
  line-height: 3.75rem;
  max-width: 3.75rem;
  height: 3.75rem;
  /*   height: 3.75rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter:not(.letter--unchecked) {
  color: var(--general-background);
}

/* keyboard */
.keyboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 5px 15px 5px;
  gap: 5px;
}

.keyboard__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
}

.keyboard__key {
  font-size: 1.2rem;
  text-transform: uppercase;
  flex: 1;
  height: 50px;
  padding: 0 2px;
  border: none;
  border-radius: 2px;
  background-color: var(--letter-key-focus);
}

.keyboard__key--double {
  flex: 2;
}

.letter--correct,
.keyboard__key--correct {
  background-color: var(--letter-positioned);
  color: var(--general-background);
}

.letter--present,
.keyboard__key--present {
  background-color: var(--letter-valid);
  color: var(--general-background);
}

.letter--absent,
.keyboard__key--absent {
  background-color: var(--letter-invalid);
  color: var(--general-background);
}

.letter--current,
.keyboard__key--key-focus {
  background-color: var(--letter-key-focus);
}

.modal,
.supermodal {
  display: none;
}

.modal--open,
.supermodal--open {
  display: block;
}
