:root {
  --letter-positioned: #63bcca; /*63bcca  63a142*/
  --letter-valid: #ed8255;
  --letter-invalid: #000; /* 552222 */
  --letter-key-focus: #e8d9d9;
  --general-background: #fff;
  --brand-highlighted: #ec4a49;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

header {
  width: 100%;
  max-width: 650px;
  height: 60px;
  margin-bottom: 30px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo--vilaweb img {
  border: 2px solid var(--letter-key-focus);
  border-radius: 50%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Saira Extra Condensed", sans-serif;
}

.title--colored {
  color: var(--letter-positioned);
}

/* navigation */

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 2px solid var(--letter-key-focus);
  border-radius: 50%;
}

.menu__toggle {
  width: 25px;
  height: 22px;
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1000;
  cursor: pointer;
}

.menu__toggle i {
  position: absolute;
  display: block;
  height: 3px;
  background: var(--letter-invalid);
  width: 25px;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.menu__toggle i:nth-child(1) {
  top: 1px;
}

.menu__toggle i:nth-child(2) {
  top: 9px;
}

.menu__toggle i:nth-child(3) {
  top: 17px;
}

.menu__toggle.open i:nth-child(1) {
  top: 10px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.menu__toggle.open i:nth-child(2) {
  background: transparent;
}

.menu__toggle.open i:nth-child(3) {
  top: 10px;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.menu__navigation {
  color: var(--letter-positioned);
  width: 100%;
  max-width: 600px;
  background-color: var(--letter-invalid);
  height: calc(100vh - (93px));
  position: absolute;
  right: -850px;
  top: 94px;
  transition: right linear 0.2s;
  padding: 10px;
}

.menu__navigation.opened {
  right: 0px;
  transition: right linear 0.2s;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 80px);
}

/* words pannel */

/* words pannel */

.guesses,
.panel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  gap: 5px;
}

.guess {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
}

.box {
  width: 60px;
  aspect-ratio: 1;
  clip-path: polygon(
    93.3% 75%,
    50% 100%,
    6.7% 75%,
    6.7% 25%,
    50% 0%,
    93.3% 25%
  );

  background-color: var(--letter-positioned);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.box-border {
  position: relative;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
}

.box-border::before {
  content: "";
  aspect-ratio: 1;
  background-color: var(--letter-key-focus);
  clip-path: polygon(
    93.04% 75.45%,
    49.48% 100%,
    6.44% 74.55%,
    6.96% 24.55%,
    50.52% 0%,
    93.56% 25.45%,
    93.04% 75.45%,
    calc(93.56% - 0.87px) calc(25.45% - -0.49px),
    calc(50.52% - 0.01px) calc(0% - -1px),
    calc(6.96% - -0.86px) calc(24.55% - -0.51px),
    calc(6.44% - -0.87px) calc(74.55% - 0.49px),
    calc(49.48% - -0.01px) calc(100% - 1px),
    calc(93.04% - 0.86px) calc(75.45% - 0.51px),
    calc(93.56% - 0.87px) calc(25.45% - -0.49px)
  );

  color: black;
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: -1;
}

.letter {
  border: 1px solid var(--letter-key-focus);
  border-radius: 18px;
  background-color: var(--general-background);
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 3.75rem;
  max-width: 3.75rem;
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter:not(.letter--unchecked) {
  color: var(--general-background);
}

/* keyboard */

.keyboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 5px 15px 5px;
  gap: 5px;
}

.keyboard__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 5px;
}

.keyboard__key {
  font-size: 1.2rem;
  text-transform: uppercase;
  flex: 1;
  height: 50px;
  padding: 0 2px;
  border: none;
  border-radius: 2px;
  background-color: var(--letter-key-focus);
}

.keyboard__key--double {
  flex: 2;
}

.panel__cell--positioned,
.keyboard__key--positioned {
  background-color: var(--letter-positioned);
  color: var(--general-background);
}

.panel__cell--valid,
.keyboard__key--valid {
  background-color: var(--letter-valid);
  color: var(--general-background);
}

.panel__cell--invalid,
.keyboard__key--invalid {
  background-color: var(--letter-invalid);
  color: var(--general-background);
}

.letter--current,
.keyboard__key--key-focus {
  background-color: var(--letter-key-focus);
}

.box-8-retallat {
  clip-path: polygon(
    15% 0,
    85% 0,
    100% 15%,
    100% 85%,
    85% 100%,
    15% 100%,
    0 85%,
    0 15%
  );
}

.box-8-costats {
  width: 65px;
  aspect-ratio: 1;
  clip-path: polygon(
    96.04% 69.5%,
    68.77% 96.34%,
    30.5% 96.04%,
    3.66% 68.77%,
    3.96% 30.5%,
    31.23% 3.66%,
    69.5% 3.96%,
    96.34% 31.23%
  );
  clip-path: polygon(
    96.04% 69.5%,
    68.77% 96.34%,
    30.5% 96.04%,
    3.66% 68.77%,
    3.96% 30.5%,
    31.23% 3.66%,
    69.5% 3.96%,
    96.34% 31.23%,
    96.04% 69.5%,
    calc(96.34% - 1.85px) calc(31.23% - -0.75px),
    calc(69.5% - 0.78px) calc(3.96% - -1.84px),
    calc(31.23% - -0.75px) calc(3.66% - -1.85px),
    calc(3.96% - -1.84px) calc(30.5% - -0.78px),
    calc(3.66% - -1.85px) calc(68.77% - 0.75px),
    calc(30.5% - -0.78px) calc(96.04% - 1.84px),
    calc(68.77% - 0.75px) calc(96.34% - 1.85px),
    calc(96.04% - 1.84px) calc(69.5% - 0.78px),
    calc(96.34% - 1.85px) calc(31.23% - -0.75px)
  );
}
