.admin {
  font-weight: 400;
  background-color: #f3f4f6;
}
.admin .logo--motli {
  @media screen and (max-width: 460px) {
    font-size: 1.6rem;
  }
}

.admin main.container {
  padding: 20px;
  @media screen and (min-width: 650px) {
    padding-top: 40px;
  }
}

.admin .main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}

.admin__title {
  margin-bottom: 20px;
}

.loading {
  display: none;
}

.on {
  display: block;
}

.off {
  display: none;
}

.form__label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  @media screen and (min-width: 640px) {
    width: 160px;
    margin-bottom: 0;
  }
}

input,
textarea {
  border: 1px solid var(--letter-key-focus);
  padding: 5px 10px;
  border-radius: 10px;
  &:focus,
  &:focus-visible {
    border: 1px solid var(--brand-logo);
    outline: 1px solid var(--brand-logo);
  }
}

input[type="text"],
input[type="url"],
input[type="password"],
textarea,
.wrap-editor {
  width: 100%;
  @media screen and (min-width: 640px) {
    max-width: 450px;
  }
}

.form__wrap-element {
  margin-bottom: 25px;
  @media screen and (min-width: 640px) {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}

.wrap-editor {
  border: 1px solid var(--letter-key-focus);
  border-radius: 10px;

  .__toolbar {
    padding: 3px;
    gap: 4px;
  }
  .__toolbar-item {
    margin-right: 0;
    &:hover,
    &:focus {
      background-color: var(--brand-logo);
      color: white;
    }
  }
  .__editor {
    min-height: 200px;
    margin-top: 0;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.button--submit {
  display: block;
  margin: 20px auto;
}

/* game-list */

.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
}
.games-list {
  .game-container {
    padding: 0 15px;
    background-color: var(--brand-logo);

    &:nth-child(odd) {
      background-color: var(--general-background);
    }

    &--dummy {
      display: none;
    }
  }

  .button--icon {
    border: 2px solid transparent;
  }
}

/* toasts (modal) */

.modal {
  top: 150px;
}
