.admin {
  font-weight: 400;
  background-color: #f3f4f6;
}

.admin .logo--motli {
  font-size: clamp(1.5rem, 1rem + 3vw, 3rem);
  @media screen and (max-width: 460px) {
    //  font-size: 1.6rem;
  }
}

.admin .container {
  max-width: 850px;
  padding: 20px;
}

.admin .main-header {
  margin-bottom: 4em;
  text-align: center;
  .button--text-icon {
    margin: 0 auto;
  }
  @media screen and (min-width: 850px) {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    .button--text-icon {
      margin: 0;
    }
  }
}

.admin__title {
  margin-bottom: 20px;
  @media screen and (min-width: 850px) {
    margin-bottom: 0;
  }
}

.loading,
.off {
  display: none;
}

.on {
  display: block;
}

.form__label {
  display: block;
  width: 100%;
  font-weight: 700;
  margin-bottom: 10px;
  @media screen and (min-width: 850px) {
    width: 250px;
    margin-bottom: 0;
  }
}

input,
textarea {
  border: 1px solid var(--letter-key-focus);
  padding: 5px 10px;
  border-radius: 10px;
  &:focus,
  &:focus-visible {
    border: 1px solid var(--brand-logo);
    outline: 1px solid var(--brand-logo);
  }
}

input[type="text"],
input[type="url"],
input[type="password"],
textarea,
.wrap-editor {
  width: 100%;
  @media screen and (min-width: 850px) {
    max-width: 550px;
  }
}

.admin .form__wrap-element {
  margin-bottom: 25px;
  @media screen and (min-width: 850px) {
    display: block;
  }
  @media screen and (min-width: 850px) {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}

.wrap-editor {
  border: 1px solid var(--letter-key-focus);
  border-radius: 10px;

  .__toolbar {
    padding: 3px;
    gap: 4px;
  }
  .__toolbar-item {
    margin-right: 0;
    &:hover,
    &:focus {
      background-color: var(--brand-logo);
      color: white;
    }
  }
  .__editor {
    min-height: 200px;
    margin-top: 0;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--font-family);
  }
}

.button--submit {
  display: block;
  margin: 20px auto;
}

/* game-list */

.games-list {
  .game-container {
    padding: 0 15px;
    background-color: var(--letter-invalid);
    color: var(--light-color);
    &:nth-child(odd) {
      background-color: var(--general-background);
      color: var(--dark);
    }

    &--dummy {
      display: none;
    }
  }

  .button--icon {
    border: 2px solid transparent;
  }
}
.game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  position: relative;
  div {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
}
.game__word {
  font-weight: 700;
  flex: 2;
  margin-left: 20px;
}

.button--edit:before {
  content: "";
  position: absolute;
  inset: 0;
}
.button--delete {
  z-index: 2;
}

/* toasts (modal) */

.modal {
  top: 150px;
}

.modal--info {
  top: unset;
  bottom: 120px;
}
