.admin {
  font-weight: 400;
  background-color: #f3f4f6;
}
.admin .logo--motli {
  @media screen and (max-width: 460px) {
    font-size: 1.6rem;
  }
}

.admin main {
  padding: 40px;
}

.admin__title {
  margin-bottom: 2rem;
}

.form__label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  @media screen and (min-width: 460px) {
    width: 280px;
  }
}

input,
textarea {
  border: 1px solid var(--letter-key-focus);
  padding: 5px 10px;
  border-radius: 10px;
  &:focus,
  &:focus-visible {
    border: 1px solid var(--brand-logo);
    outline: 1px solid var(--brand-logo);
  }
}

input[type="text"],
input[type="url"],
textarea,
.wrap-editor {
  width: 100%;
  @media screen and (min-width: 460px) {
    max-width: 500px;
  }
}

.form__wrap-element {
  margin-bottom: 25px;
  @media screen and (min-width: 460px) {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}

.wrap-editor {
  border: 1px solid var(--letter-key-focus);
  border-radius: 10px;

  .__toolbar {
    padding: 3px;
    gap: 4px;
  }
  .__toolbar-item {
    margin-right: 0;
    &:hover,
    &:focus {
      background-color: var(--brand-logo);
      color: white;
    }
  }
  .__editor {
    min-height: 200px;
    margin-top: 0;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.button--submit {
  display: block;
  margin: 20px auto;
}
